@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;500;700;900&display=swap');

body{
	font-family: 'Lato', sans-serif;
	color: white;
	margin: 0;
	background-color: black;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*Hieronder volgen de codes voor de fonts*/

h1{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 30px;
  margin-top: 20px;
}

h2{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 15px;
	color: #8D8D8E;
}

h3{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 16px;
}

h4{
  font-size: 15px;
  font-weight: 500;
  color: #57565E;
  margin-bottom: -10px;
}

p{
  font-size: 15px;
  font-weight: 300;
  color: #57565E;
}

a{
  text-decoration: none;
  color: #57565E;
}

#countdown{
  color: white;
  font-size: 20px;
  text-align: center;
}

.overlay a:hover:not(#active){
  color: white;
}

#active{
  color: white;
}

.melding{
  border-top: 1px solid #57565E;
}

/*Hieronder volgt de code voor afbeeldingen*/

#logo{
	width: 150px;
  margin-bottom: 30px;
}

/*Hieronder volgt de code voor de navigatie */

i{
	padding-right: 10px;
}

header{
  margin-left: 200px;
  padding: 1px 16px;
}

/*Hieronder de codes voor de layout van het dashboard*/
#menu{
  width: 200px;
  position: fixed;
}
.cards{
	background: rgba(0, 0, 0, 0.3);
	padding: 20px;
	border-radius: 15px;
  display: inline-block;

}

.dashboard{
  margin-bottom: 30px;
  display: grid;
  grid-gap: 10px; 
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "card6 card6"
  "card2 card2"
  "card3 card3"
  "card4 card4"
  "card5 card5"
  
}

/*.card1{
  grid-area: card1;

}*/

.card2{
  grid-area: card2;
}

.card3{
  grid-area: card3;
}

.card4{
  grid-area: card4;
}

.card5{
  grid-area: card5;
}

.card6{
  grid-area: card6;
  background-image: url("../images/rodeplaneet.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


/*Hieronder volgen de media queries*/

/*De layout voor de apple watch waar het menu verwijdert is en je enkel de charts kan zien*/
@media screen and (max-width: 162px){
  #menu{ 
    display: none;
   }

   .dashboard{
      display: grid;
      grid-template-columns: 1fr 1fr;

      grid-template-areas: 
      "card6 card6"
      "card2 card2"
      "card3 card3"
      "card4 card4"
      "card5 card5"
  
}


  }

/*De afmetingen voor de mobile telefoon*/
@media screen and (max-width: 600px){
  #menuicon{
    margin-left: 20px;
  }

  .overlay{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    overflow-x: hidden;
    transition: 0.5s;
  }

  .overlay-content{
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }

  .overlay a{
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .overlay a:hover, .overlay a:focus{
    color: white;
  }

  .overlay .closebtn{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }

  header{
    margin-left: 20px;
  }

  #countdown{
    font-size: 30px;
  }


}

@media screen and (max-height: 600px){
  .overlay a{
    font-size: 20px
  }

  .overlay .closebtn{
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

@media screen and (min-width: 601px){
  #menuicon{
      display: none;
    }

  .closebtn{
    display: none;
  }  

  .overlay a{
    float: left;
    width: 200px;
    font-size: 17px;
    margin-top: 30px;
    padding-left: 30px;
  }

  #menu{
  	background-color: rgba(0,0,0, 0.3);
  	height: 100%;
  	margin-left: 0;
  	margin-top: 0;
  }

  #countdown{
    font-size: 40px;
  }
}

/*Afmetingen voor de ipad*/

@media screen and (min-width: 601px){
    .dashboard{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px; 
      grid-template-areas: 
      "card6 card6"
      "card3 card3"
      "card2 card2"
      "card4 card5"
      }

      .card4{
        max-width: 300px;
      }

      .card5{
        max-width: 300px;
      }
}

/*afmetingen voor de laptop*/
@media screen and (min-width: 1350px){
  .dashboard{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 10px; 
      grid-template-areas: 
        "card2 card2 card6 card5"
        "card2 card2 card6 card5"
        "card4 card3 card3 card5"

  }

  #countdown{
    font-size: 25px;
    padding-top: 85px;
  }

  #myDoughnutChart{
    margin-top: 150px;
  }

}

@media screen and (min-width: 1919px){
  .dashboard{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 10px; 
      grid-template-areas: 
        "card2 card2 card6 card6"
        "card2 card2 card6 card6"
        "card4 card3 card3 card5"

  }

  #countdown{
    font-size: 60px;
  }

  .card4{
        max-width: 500px;
      }

  #myDoughnutChart{
    margin-top: 10px;
  }

}



